
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat',serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}

.faded {
  color: rgba(15,5,62, 0.8); 
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 96%;
}

header.startup hr {
  margin-top: 400px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-info{
	background-color: black;
	border-color: white;
	

  }
  .btn-info:hover{
  	background-color:black;
  	border-width: 5px;
	cursor: pointer;
  }
  .footer{
  	display:block;
  	position: fixed;
  	background: black;
  	color: white;
  	text-align: center;
  	font-family: serif;
  	width:100%;
  	left: 0px;
  	bottom: 0px;
  }